<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="public/styles/main.css">
    <title>All Products - Express Create Lab</title>
</head>
<body class="has-navbar-fixed-top has-background-grey-lighter">
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/products">All Products</a>
            <a class="navbar-item" href="/products/new"> Create New Product </a>
        </div>
    </nav>
    <section class="hero is-info has-text-centered">
        <div class="hero-body">
            <p class="title">All Products</p>
        </div>
    </section>
    <main class="container">
        <div class="columns is-multiline is-centered">
            <% for (let i = 0; i < products.length; i++) { %>
                <% let product = products[i]; %>
                <div class="column is-three-fifths">
                    <article class="card has-background-light">
                        <div class="level">
                            <div class="level-left">
                                <div class="card-image">
                                    <figure class="image is-128x128 img-card-figure media-left">
                                        <a href="/products/<%= i %>">
                                            <img src="<%= product.img %>" class="square-img-128" alt="Product image">
                                        </a>
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h4><a href="/products/<%= i %>"><%= product.name %></a></h4>
                                        <h4>$<%= product.price %></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
            <% } %>
        </div>
    </main>
</body>
</html>